@import "../../../design-standards/constants.scss";

.game {
    height: $screenHeight;
    width: $screenWidth;

    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: $gameFont;

    background-color: white;
}

.playerZone {
    height: $playerZoneHeight;
    width: $playerZoneWidth;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    position: absolute;
    bottom: 0;

    background: linear-gradient(to bottom, #6c6eb2 0%,#181870 64%,#000028 100%);
    
    box-shadow: 
    2px 2px #e7dfe7,
    -2px -2px #e7dfe7,
    2px -2px #e7dfe7,
    -2px 2px #e7dfe7,
    0 -1px #9c9a9c,
    -1px 0 #7b757b,
    0 1px #424542;
    
    overflow: auto;
}

.combatZoneOverlay {
    width: 100vw;
    height: $playerZoneHeight;

    display: flex;
    justify-content: flex-end; 
    position: absolute;
    align-items: flex-end;
    flex-direction: column;
}


