@import "../../../design-standards/constants.scss";

.combatZone{
    width: 100vw;
    height: $combatZoneHeight;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.partyHealthZone{
    display: flex;
    justify-content: center;
    align-self: center;
}

.heroContainer{
    display: flex;
    width: 40vw;
    height: auto;
    justify-content: center;
}

.foeContainer{
    display: flex;
    width: 40vw;
    height: auto;
    justify-content: center;
}