.monsterContainer {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.enforcer{
  width:55px;
  height:55px;
  background-color: darkgreen;
  
  border-style: solid;
  border-width: 1px;
  border-color: slategrey;
  
  display: flex;
  justify-content: center;
  align-items: center;  
  border-radius: 50%;
  
  animation: scaningHead 20s;
  animation-iteration-count: infinite;
}

@keyframes scaningHead{
  0% {transform: translate(-10px)}
  50% {transform: translate(10px)}
  100% {transform: translate(-10px)}
}

.socket{
  width:30px;
  height:10px;
  background: black;
  border-radius: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-5px);
}
.lHorn{
  width: 20px;
  height: 20px;
  background: darkgreen;
  transform: translate(-10px,-30px) rotate(-10deg);
  clip-path: polygon(30% 0, 0% 100%, 100% 100%);
  position: absolute;
}
.transEye{
  height:8px;
  width:8px;
  background: white;
  border-radius: 35%;
  animation: scanningEye 5s;
  animation-iteration-count: infinite;
}
@keyframes scanningEye{
  0% {transform: translate(-10px)}
  50% {transform: translate(10px)}
  100% {transform: translate(-10px)}
}