@import "../../../../design-standards/constants.scss";

.herColumn{
    display: flex;
    flex-direction: column;
}

.heroContainer{
    display: flex;
    width: 35px;
    height: 50px;
    background-color: white;

    margin: 10px;
    font-size: 12px;

    outline: gray;
    outline-style: solid;

}