@import "../../../design-standards/constants.scss";

.devButton{
    color: white; 
    border: none;
    background-color: darkslategrey;
    transition-duration: 0.3s;
}

.devButton:hover{
    background-color: black;
}