@import "../../../design-standards/constants.scss";

.customButton {
    box-shadow: 5px 7px 11px 0px rgba(0, 0, 0, 0.48);
    align-items: flex-start;
    padding: 1px;
    border-width: 0px;
    margin: 1px;
    background: #828282bd;
}

.activeZone {

    height: 42vh;
    width: 72vw;
    margin-left: 5px;

    display: flex;
    align-items: center;
    justify-content: center;
}
.hand {
    height: 40vh;
    width: 65vw;
    display: flex;
    flex-direction: column;
    font-family: $gameFont;
    align-items: center;

}

.card {
    font-size: 11px;
    height: 25vh;
    width: 11vw;
    flex-direction: row;
    color: whitesmoke;
    background-color: black;
    font-family: $gameFont;
}

.titleSection {
    padding-top: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    flex-direction: row;
    font-family: $gameFont;
}

.title{

    display: flex;
    color: white; 
    background-color: rgb(83, 83, 83);
    font-family: $gameFont;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: black;
}

.energy {

    display: flex;
    color: yellow;
    background-color: black;
    font-family: $gameFont;
}
