@import "../../../design-standards/constants.scss";

.activeZone {

    height: $playerZoneHeight;
    // width: 72vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.handContainer{
    z-index: 1;
}

.hand {
    height: 40vh;
    width: 65vw;
    display: flex;
    flex-direction: column;
    font-family: $gameFont;
    align-items: center;
    justify-content: center;
}
