// @import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');
// 'Press Start 2P' linked in index.html 
$font: cursive, sans-serif;
$gameFont: 'Press Start 2P';

$screenWidth: 350px* 1.6180339887498948482;
$screenHeight: 350px;
$phi: 1.6180339887498948482;
