@import "../../../design-standards/constants.scss";

.gameScreen {
    height: $screenHeight;
    width: $screenWidth;

    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: $gameFont;

    display: flex;
    align-items: center;
    justify-content: center;
}

.menuContainer {
    height: auto;
    width: 95vw;
    margin: 5px;

    display: flex;
    flex-direction: column;
    background-color: silver;
}

.menuHeader {
    width: auto;
    height: 10vh;
    // margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #424542;
}

.menuBody {
    width: auto;
    height: 70vh;
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
    align-items: center;
    justify-content: center;
    background-color: #424542;

}

.menuFooter {
    width: auto;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #424542;
}

.menuOption {
    width: auto;
    height: 5vh;

    display: flex;
    align-items: center;
    justify-content: center;

    background: linear-gradient(to bottom, #6c6eb2 0%,#181870 64%,#000028 100%);
    border-radius: 8px;
    border: 1px solid #424542;
    
    box-shadow: 4px 4px #e7dfe7,
                -4px -4px #e7dfe7,
                4px -4px #e7dfe7,
                -4px 4px #e7dfe7,
                0 -2px #9c9a9c,
                -2px 0 #7b757b,
                0 2px #424542;
}





.pathRowContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.pathRow{
    display: flex;
    flex-direction: row;
}
.node {
    width: auto;
    height: auto;
    margin-left: 10px;
    margin-right: 10px;
}


.pathColumnOutline {
    border: black;
    border-style: dashed;
    border-width: .5px;
}
.pathRowOutline{
    border: black;
    border-style: dashed;
    border-width: .5px;
}

.nodeRow {
    display: flex;
    flex-direction: col;
}

.nodeBlock{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 30px;
    height: 30px;
    margin: 1px;
    font-size: 5px;
    background-color: white;
    color: dodgerblue;

    border: black;
    border-style: solid;
    border-width: 1px;
}

.pathArray{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}