@import "../../design-standards/constants.scss";

.cardButton {
    box-shadow: 5px 7px 11px 0px rgba(0, 0, 0, 0.48);
    align-items: flex-start;
    padding: 1px;
    border-width: 0px;
    margin-left: 2px;
    margin-right: 2px;
    background: #828282bd;

    font-size: 8px;
    font-family: $gameFont;
    outline: none;
}


.card {
    height: 100px;
    width: 75px;

    padding: 8px;
    position: relative;

    font-size: 8px;
    font-family: $gameFont;

    background-color: #424242;
}

.cardFace {    
    position: absolute;
    height: 100px;
    width: 75px;
    
    &:hover{    
        position: absolute;
        height: 175px;
        width: 150px;
        background-color: #424242;
        
        padding: 8px;

        bottom: 0;
        left: -50px;
        right: -50px;
        top: -75px;
        z-index: 100;

        border-style: solid;
        border-width: 5px;
        border-color: #828282bd;
    }
}

.cardArt{
    width: 100%;
    height: 40%;
    margin: 0px;
    background-color: lightcoral;
}

.titleSection {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
    background-color: rgb(83, 83, 83);
    font-size: 7px;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%; 
    color: white; 
}

.costRow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.energy {
    display: flex;
    color: yellow;
    width: 50%;
    justify-content: flex-start;
}

.requiredHero{
    display: flex;
    color: dodgerblue;
    width: 50%;
    justify-content: flex-end;
}

.cardDescription{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: silver;
    width: 100%;
    height: 40%;
    margin: 0px;
}

.redDot{
    width: 5px;
    height: 5px;
    background-color: red;
    border-radius: 25%;
    border-color: white;
    border-width: 1px;
}
.blueDot{
    width: 5px;
    height: 5px;
    background-color: dodgerblue;
    border-radius: 25%;
    border-color: white;
    border-width: 1px;
}
.greenDot{
    width: 5px;
    height: 5px;
    background-color: green;
    border-radius: 25%;
    border-color: white;
    border-width: 1px;
}
.whiteDot{
    width: 5px;
    height: 5px;
    background-color: silver;
    border-radius: 25%;
    border-color: white;
    border-width: 1px;
}


@media only screen and (max-width: 750px) {

    .card {
        height: 75px;
        width: 50px;
    }

    .cardFace {    
        height: 75px;
        width: 50px;
        &:hover{    
            height: 150px;
            width: 125px;

            bottom: 0;
            left: -25px;
            right: -25px;
            top: -50px;
            font-size: 10px;
            padding: 8px;


            .titleSection{
                font-size: 10px;
            }

        }
    }

    .titleSection {
        font-size: 6px;
    }
}