@import "../../design-standards/constants.scss";

.game {
    height: $screenHeight;
    width: $screenWidth;

    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: $gameFont;
}

.playerZone {
    // height: $playerZoneHeight;
    // width: $playerZoneWidth;
    height: 52vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, #6c6eb2 0%,#181870 64%,#000028 100%);
    box-shadow: 
    2px 2px #e7dfe7,
    -2px -2px #e7dfe7,
    2px -2px #e7dfe7,
    -2px 2px #e7dfe7,
    0 -1px #9c9a9c,
    -1px 0 #7b757b,
    0 1px #424542;
    overflow: auto;
}



.menu {
    position: relative;
    margin-left: 20vh;
    margin-right: vwpx;

    width: auto;
    height: 175px;

    display: flex;
    align-items: center;
    justify-content: center;

    background: linear-gradient(to bottom, #6c6eb2 0%,#181870 64%,#000028 100%);
    border-radius: 8px;
    border: 1px solid #424542;
    
    box-shadow: 4px 4px #e7dfe7,
                -4px -4px #e7dfe7,
                4px -4px #e7dfe7,
                -4px 4px #e7dfe7,
                0 -2px #9c9a9c,
                -2px 0 #7b757b,
                0 2px #424542;
    overflow: auto;
}

