
.pathButton{ 
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    outline-style: solid;
    outline-color: white;
    background-color: black;
    color: white;

    &:active{
        outline: none;
    }
}