@import "../../../design-standards/constants.scss";

.gameScreen {
    height: $screenHeight;
    width: $screenWidth;

    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: $gameFont;

    display: flex;
    align-items: center;
    justify-content: center;
}

.menuContainer {
    height: 95vh;
    width: 95vw;
    margin: 5px;

    display: flex;
    flex-direction: column;
    background-color: silver;
}

.menuHeader {
    width: auto;
    height: 10vh;
    // margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #424542;
}

.menuBody {
    width: auto;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #424542;
}

.bodyText{
    width: 100vw;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rewardText{
    width: 100vw;
    height: 5vh;
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menuFooter {
    width: auto;
    height: 20vh;
    display: flex;
    // margin: 5px;
    align-items: center;
    justify-content: center;
    background-color: #424542;
}

.menuOption {
    width: auto;
    height: 5vh;

    display: flex;
    align-items: center;
    justify-content: center;

    background: linear-gradient(to bottom, #6c6eb2 0%,#181870 64%,#000028 100%);
    border-radius: 8px;
    border: 1px solid #424542;
    
    box-shadow: 4px 4px #e7dfe7,
                -4px -4px #e7dfe7,
                4px -4px #e7dfe7,
                -4px 4px #e7dfe7,
                0 -2px #9c9a9c,
                -2px 0 #7b757b,
                0 2px #424542;
}


.cardContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    width: 100vw;
}