@import "../../design-standards/constants.scss";

.game {
    height: $screenHeight;
    width: $screenWidth;

    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: $gameFont;
}

.foeZone {
    display: flex;
    flex-direction: column;
    align-items: center;
    // padding-top: 4px;

    height: 48vh;
    width: 100vw;
}
.playerHealthBorder {
    margin-top: 4px;
    height: 4vh;
    width: 80vw;

    display: flex;
    flex-direction: row;

    margin-bottom: 10px;

    border-radius: 1px;
    box-shadow: 2px 2px #e7dfe7,
        -2px -2px #e7dfe7,
        2px -2px #e7dfe7,
        -2px 2px #e7dfe7,
        0 -1px #9c9a9c,
        -1px 0 #7b757b,
        0 1px #424542;
}
.playerHealthBar {
    height: 4vh;
    width: 80vw;
    background: linear-gradient(to left, #b26c6c 0%,#701818 64%,#280000 100%);

    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 12px;
    color: white;

    text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;

}

.foes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}


.foe {
    height: 35vh;
    width: 20vw;
    margin-left: 3vw;
    margin-right: 3vw;
}
.foeImg {
    height: 33vh;
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    align-items: center;
}
.foeHealthBorder {
    height: 2vh;
    width: 20vw;

    display: flex;
    flex-direction: row;

    border-radius: 1px;
    box-shadow: 
        1px 1px #e7dfe7,
        -1px -1px #e7dfe7,
        1px -1px #e7dfe7,
        -1px 1px #e7dfe7,
        0 -1px #9c9a9c,
        -1px 0 #7b757b,
        0 1px #424542;
}
.foeHealthBar {
    height: 2vh;
    width: 20vw;
    background: linear-gradient(to left, #b26c6c 0%,#701818 64%,#280000 100%);

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 8px;
    color: white;

    text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}



.playerZone {
    // height: $playerZoneHeight;
    // width: $playerZoneWidth;
    height: 52vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, #6c6eb2 0%,#181870 64%,#000028 100%);
    box-shadow: 
    2px 2px #e7dfe7,
    -2px -2px #e7dfe7,
    2px -2px #e7dfe7,
    -2px 2px #e7dfe7,
    0 -1px #9c9a9c,
    -1px 0 #7b757b,
    0 1px #424542;
    overflow: auto;
}

.drawZone {
    height: 52vh;
    width: 15vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.energy {
    height: 4vh;
    width: 4vw;
    color: yellow;
    background-color: black;
    margin-bottom: 10px;
}
.deck {
    height: 4vh;
    width: 4vw;
    color: white;
    background-color: black;
    flex-direction: column;
    text-align: center;
}



.activeZone {
    height: 52vh;
    width: 80vw;
    display: flex;
    align-items: center;
}
.hand {
    height: 40vh;
    width: 80vw;
    display: flex;
    flex-direction: column;
    background-color: white;
}
.card {
    height: 35vh;
    width: 10vw;
    flex-direction: row;
    background-color: silver;
}

.discardZone {
    height: 52vh;
    width: 15vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.void {
    height: 4vh;
    width: 4vw;
    color: white;
    background-color: purple;
    margin-bottom: 10px;
}

.discard {
    height: 4vh;
    width: 4vw;
    color: white;
    background-color: black;
    margin-bottom: 10px;
}

.menu {
    position: relative;
    margin-left: 20vh;
    margin-right: vwpx;

    width: auto;
    height: 175px;

    display: flex;
    align-items: center;
    justify-content: center;

    background: linear-gradient(to bottom, #6c6eb2 0%,#181870 64%,#000028 100%);
    border-radius: 8px;
    border: 1px solid #424542;
    
    box-shadow: 4px 4px #e7dfe7,
                -4px -4px #e7dfe7,
                4px -4px #e7dfe7,
                -4px 4px #e7dfe7,
                0 -2px #9c9a9c,
                -2px 0 #7b757b,
                0 2px #424542;
    overflow: auto;
}

