@import "../../../design-standards/constants.scss";


.discardZone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    font-size: 12px;
}

.void {
    color: purple;
    text-align: center;
    background-color: black;
    padding: 5px;
}

.discard {
    color: white;
    text-align: center;
    background-color: black;
    padding: 5px;
}

.devButton{
    color: white; 
    border: none;
    background-color: darkslategrey;
    transition-duration: 0.3s;
}

.devButton:hover{
    background-color: black;
}