@import "../../../design-standards/constants.scss";

.bonfireOption{
    display: flex;
    width: 150px;
    height: 150px;
    margin: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    font-weight: bold;
    font-size: 20px;
    color: white;

    background-color: #131313;
}


.screenContainer{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    color: white;
}


.screen{
    display: flex;
    width: 90vw;
    height: 90vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: $mainBackgroundColor;
}
